body {
  margin: 0;
  font-family: arial, sans-serif;
}
form {
  text-align: center;
  padding-left: 20px;
  top: 8px;
  width: 40%;
  position: absolute;
}
a {
  color: #777;
  text-decoration: none;
}
input {
  padding-left: 10px;
}
table {
  border-collapse: collapse;
  text-align: left;
  margin: 30px auto 30px;
}
tr {
  display: table-row;
  vertical-align: top;
}
td {
  text-align: center;
  font-size: small;
  color: rgb(66,147,246,1);
}

.below-featured {
  margin-top: 275px;
  margin-left: 625px;
  padding-bottom: 5px;
}
.navbar ul, .footer ul, .below-featured ul, .related-results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar li, .footer li {
  display: inline-block;
  padding-left: 15px;
  font: 13px arial, sans-serif;
}
.below-featured li {
  display: inline-block;
  padding-left: 15px;
  font: 12px arial, sans-serif;
}
.related-results li {
  display: inline-block;
  font: 14px arial, sans-serif;
  font-weight: bold;
  color: #1a0dab;
}
.primary {
  border-bottom: 3px solid #1A73E8;
  color: #1A73E8;
  font-weight: bold;
  padding-bottom: 22px;
}
.bar {
  width: 503px;
  height: 34px;
  font: 16px arial, sans-serif;
}
.navbar {
  min-height: 120px;
  background-color: #fafafa;
}
.left-side {
  vertical-align: middle;
  float: left;
}
.right-side {
vertical-align: middle;
float: right;
line-height: normal;
padding-top: 15px;
}

.fa-user-circle {
  padding-right: 20px;
}
.leading-icon {
  color: #9e9e9e;
  padding-right: 5px;
}
.following-icon {
  margin-left: 5px;
}
.footer {
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  min-height: 40px;
}
.footer li {
  padding-top: 12px;
}
.footer-left {
  vertical-align: middle;
  float: left;
}
.footer-right {
  vertical-align: middle;
  float: right;
  line-height: normal;
}
.total {
  color: #777;
  line-height: 43px;
  font-size: small;
  font-family: arial, sans-serif;
  padding-left: 155px;
}
.featured {
  border-style: solid;
  border-width: thin;
  border-color: #e3e3e3;
  position: absolute;
  margin-left: 140px;
  width: 700px;
}
.list-top {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
.list-steps li {
  margin-bottom: 4px;
}
.m-items a {
  font-size: 14px;
  padding-left: 40px;
  margin-bottom: 20px;
}
.featured-link a {
  padding-left: 20px;
  color: #1a0dab;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
.other-results {
  padding-left: 140px;
}
.result-content {
  padding-left: 20px;
  width: 600px;
  padding-bottom: .5px;
}
.result-content h3 {
  font-family: 'Roboto', sans-serif;
  color: #1a0dab;
  font-weight: normal;
}
.result-content h5 {
  padding-left: 0px;
}
.site-link {
  padding-left: 20px;
  margin-top: -20px;
  color: #006621;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.preview {
  line-height: 1.4;
  word-wrap: break-word;
  font-size: small;
  margin-top: -20px;
  color: #545454;
}
.date {
  color: #808080;
}
.divider {
  margin-left: 75px;
}
.related-results {
  margin-left: 140px;
  width: 700px;
}
.related-results li {
  padding-bottom: 5px;
  padding-top: 1px;
  margin-left: 20px;
}
.related-results h3 {
  margin-left: 20px;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: normal;
}
.G {
  display: block;
  background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-position: -24px 0;
	background-size: 167px;
	width: 28px;
	height: 40px;
	margin-bottom: 15px;
}
.o {
  display: block;
  background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
  background-position: -53px 0;
  background-size: 167px;
  width: 20px;
  height: 40px;
}
.o-alt {
  display: block;
  background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
  background-position: -74px 0;
  background-size: 167px;
  width: 20px;
  height: 40px;
}
.gle {
  display: block;
  background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
  background-position: -96px 0;
  background-size: 167px;
  width: 71px;
  height: 40px;
}

#logo {
  padding-top: 4px;
}
#below-left {
  padding-left: 140px;
  padding-top: 25px;
  position: relative;
}
#location {
  color: #aaa;
  padding-left: 140px;
}
#below-loc {
  padding-left: 125px;
  padding-top: 5px;
  padding-bottom: 10px;
}
#results {
  display: block;
}
#top-row li {
  margin-right: 60px;
}
#middle-row li {
  margin-right: 78px;
}
#bottom-row li {
  margin-right: 16px;
}
#navigation {
  width: 49%;
}
#next {
  margin-left: 53px;
}
#first {
  color: black;
}
